<div class="cart">

<% unless cart.line_items.empty? %>
 <h1>Your cart</h1>
 <table>
   <%= render(cart.line_items) %>
   <tr> 
     <td> Total </td>
     <td> <%= number_to_currency(cart.total_price) %> </td>
   </tr>
 </table>

 <p><%= link_to "Clear_cart", cart, method: :delete, confirm: "You sure?",
 class: "button-style" %><p>
<% end %>
</div>