
<% unless cart.line_items.empty? %>
<div class="cart3">
<h1>Your cart</h1>
 <table class="list_table">
   <%= render(cart.line_items) %>
   <tr class = "total"> 
     <td> Total </td>
     <td> <%= number_to_currency(cart.total_price) %> </td>
   </tr>
 </table>

<p><%= link_to "Clear cart", cart, method: :delete, confirm: "You sure?", remote: true,
  class: "button-style" %>

<%= link_to "Buy items", new_order_path, confirm: "You sure?", remote: true,
  class: "button-style" %></p>

</div>
<% end %>
